<%- include("partials/header"); -%>
<h2>Home page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, vero ex.
  Pariatur explicabo itaque tempora ipsum enim quasi, molestiae repudiandae.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
</p>
<div class="posts pt-3">
  <!-- check if admin has uploaded any post, 
  if there are no post uploaded tell the user  -->
  <% if(posts.length == 0) { %>

  <p class="text-center mt-4 text-capitalize text-danger">
    There are no post yet!
  </p>

  <!-- if there are posts, display to user -->
  <% } else {%> <% posts.forEach(post => { %>
  <div class="divider pt-3">
    <h5 class="text-capitalize"><%= post.title %></h5>
    <p class="text-capitalize">
    <!-- check if the content of a blog post is longer than 100 -->
      <% if(post.content.length > 100){ %> <%= post.content.substring(0,100) %>
      ...
      <a href="/posts/<%= post.title %>" class="text-decoration-none"
        >Read more</a
      >
      <% } else {%> <%= post.content %>.
      <a href="/posts/<%= post.title %>" class="text-decoration-none"
        >Read more</a
      >
      <% } %>
    </p>
  </div>
  <% })} %>
</div>
<%- include("partials/footer"); -%>
